/* mouse over link */
a:hover {
    color: teal;
}

a:link {
    text-decoration: none;
}

a:active {
  font-weight: bold;
  color: #333;
}

hr {
  height: 0;
  margin-right: 250px;
  margin-left: 250px;
  margin-top: 30px;
  color: #333;
}

nav {
  margin: 0px
}

ul {
  height: 25px;
  float: center;
  margin-right: 0px;
  padding: 0 20px;
}

li {
  list-style-type: none;
  float: left;
}

img {
  margin-top: 25px;
  margin-left: 87px;
  margin-right: 25px;
  float: left;
}

p {
  display: block;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 0.09em;
    margin-left: 250px;
    margin-right: 250px;
    color: #333
}

h1 {
  display: block;
    margin-top: 30px;
    margin-bottom: 1px;
    margin-left: 0;
    margin-right: 0;
}

h4 { 
    display: block;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}


